Table 2

In [8]:
number1 = 2


table = range(1, 11)
print(f"Table of {number1}\n")
for i in table:
 print(f"{number1} x {i} = {number1 * i}")

Table of 2

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Table 9

In [1]:
number2 = 7


table = range(1, 11)
print(f"Table of {number2}\n")
for i in table:
 print(f"{number2} x {i} = {number2 * i}")

Table of 7

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Table 11

In [12]:
number3 = 11

table = range(1, 11)
print(f"Table of {number3}\n")
for i in table:
 print(f"{number3} x {i} = {number3 * i}")

Table of 11

11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110

In [12]:
number=int(input("Enter your table number :"))
count:int=1
for table in range(1,11):
    print(f"{number} x {table} = {number*table}")

100 x 1 = 100
100 x 2 = 200
100 x 3 = 300
100 x 4 = 400
100 x 5 = 500
100 x 6 = 600
100 x 7 = 700
100 x 8 = 800
100 x 9 = 900
100 x 10 = 1000